  <div class="profile">

        <div class="container-fluid px-4">
            <div class="row g-4">
                <div class="col-md-6">
                    <div class="profile-card">
                        <div class="login-card-body">
                            <!-- change later so the name of user shows instead-->
                            <h3>Name</h3>
                            <p>Role: ____</p>
                            <p>Tasks Assigned</p>
                            <div class="tasks">
                                <!--  need to change later so tasks show up for user  -->
                                <div>
                                    <input type="checkbox" id="task1" name="task1" />
                                    <label for="task1"> Task 1</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="task2" name="task2" />
                                    <label for="task2"> Task 2</label>
                                </div>

                                <div>
                                    <input type="checkbox" id="task3" name="task3" />
                                    <label for="task3"> Task 3</label>
                                </div>
                            </div>

                            <a class="prof-link" href="./member-tasks.hbs">See all tasks</a>

                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                        <div class="profile-card">
                            <div class="login-card-body">
                                <!-- change later so the name of user shows instead-->
                                <h3>Leaderboard</h3>
                                <!--  discuss with team how the mini leaderboard should look  -->
                                <p>placeholder</p>
                                <a class="prof-link" href="../../General_layouts/leaderboard.html">View leaderboard and use points</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>

    </div>
