<div class="tasks-page">
    <div class="container-fluid px-4">
        <div class="row g-4">
            <div class="col-md-6">
                <div class="tasks-card">
                    <div class="login-card-body">
                        <h3>Tasks</h3>
                        <div class="tasks">
                            <div>
                                <input type="checkbox" id="task1" name="task1" />
                                <label for="task1"> Task 1</label>
                            </div>
                            <div>
                                <input type="checkbox" id="task2" name="task2" />
                                <label for="task2"> Task 2</label>
                            </div>
                            <div>
                                <input type="checkbox" id="task3" name="task3" />
                                <label for="task3"> Task 3</label>
                            </div>
                            <div>
                                <input type="checkbox" id="task4" name="task4" />
                                <label for="task4"> Task 4</label>
                            </div>
                            <div>
                                <input type="checkbox" id="task5" name="task5" />
                                <label for="task5"> Task 5</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <a href="./admin-tasks.hbs" style="text-decoration: none; color: inherit">
                    <div class="tasks-card">
                        <div class="login-card-body">
                            <h3>Points Overview</h3>
                            <p>Current Points: </p>
                            <p>Tasks to Points: </p>
                            <div class="priority-list">
                                <p style="color: rgb(206, 0, 0);">High Priority: </p>
                                <p style="color: rgb(233, 186, 0);">Medium Priority: </p>
                                <p style="color: rgb(0, 190, 9);">Low Priority: </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
