
    <!-- LOGIN FORM SECTION -->

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-5 col-md-7">
            <div class="login-form-card">
                <div class="text-center mb-4">
                    <h2 class = "login-form-title">Login as Team Member</h2>
                    <p class="text-muted">Access your tasks and earn points</p>
                </div>
                <form id="loginForm" action="/login" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control login-input" id="username" name="username" style="width: 100%;">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control login-input" id="password" name="password" style="width: 100%;">
                    </div>
                    <div class="mb-3">
                        <label for="teamID" class="form-label">Team ID</label>
                        <input type="text" class="form-control login-input" id="teamID" name="teamID" style="width: 100%;">
                    </div>
                    <button type="submit" form="eventForm" class="btn btn-signin w-100" onclick="document.getElementById('loginForm').submit();">Login</button>
                </form>
                <div class="text-center mt-4">
                    <p class="mb-0">Don't have an account? <a href="./member-register.hbs" class="register-link">Register</a></p>
                </div>
                <div class="text-center mt-4">
                    <p class = "mb-0">Are you an admin? <a href="../Admin View/admin-login.hbs" class = "register-link">Sign in here if you are an admin!</a></p>
                </div>
            </div>
        </div>
    </div>
</div>