<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GELLO</a>
    <div id="navbarSupportedContent">
      <ul class="navbar-nav me-auto d-flex flex-row">
        <li class="nav-item">
				<a class="nav-link" href="/pages/boards">Boards</a>
			</li>
			{{#if user}}
				{{#if (eq user.role "admin")}}
					<li class="nav-item">
						<a class="nav-link" href="/pages/teams">Teams</a>
					</li>
				{{/if}}
				<li class="nav-item">
					<a class="nav-link" 
					{{#if (eq user.role "admin")}}
					href="/pages/admin/leaderboard"
					{{else}}
					href="/pages/member/leaderboard"
					{{/if}}
					>Leaderboard</a>
				</li>
				{{#if (eq user.role "member")}}
				<li class="nav-item">
					<a class="nav-link" href="/pages/points-shop">Points Shop</a>
				</li>
				{{/if}}
			{{/if}}
      </ul>
    </div>
  </div>
</nav>