<div class="skeleton-list-column list-column flex-shrink-0" aria-hidden="true">
	<div class="card bg-light">
		<div class="card-header d-flex justify-content-between align-items-center">
			<div class="placeholder-glow">
				<h6 class="mb-0"><span class="placeholder col-8"></span></h6>
			</div>
		</div>
		<div class="card-body">
			{{> skeleton-card}}
			{{> skeleton-card}}
			{{> skeleton-card}}
		</div>
	</div>
</div>
