<div class="col-md-4 mb-4">
	<div class="skeleton-board-card card h-100" aria-hidden="true">
		<div class="card-body">
			<div class="placeholder-glow">
				<h5 class="card-title">
					<span class="placeholder col-8"></span>
				</h5>
				<p class="card-text">
					<span class="placeholder col-12"></span>
					<span class="placeholder col-6"></span>
				</p>
				<span class="placeholder btn btn-primary col-4"></span>
			</div>
		</div>
	</div>
</div>
