{{#if user.avatar_url}}
  <img
    src="{{user.avatar_url}}"
    alt="{{user.display_name}}"
    class="user-avatar"
  />
{{else}}
  <div class="user-avatar-placeholder">
    {{substring user.display_name 0 1}}
  </div>
{{/if}}
