<div class="highlight aem-GridColumn aem-GridColumn--default--12">
    <div class="card-img-overlay" >
        <div class="card-background" >
            <div class="card-foreground" >
            </div>
        </div>
    </div>
</div>
