<div class="container my-5">
    <div class="col-lg-8 mx-auto text-center">
       <h1 class="display-4 mb-4"> Points Store </h1>
    </div>
    <div class="card">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="btn btn-primary">Redeem</a>
      </div>
    </div>
    <div class="card">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="btn btn-primary">Redeem</a>
      </div>
    </div>
    <div class="card">
      {{!-- <img src="..." class="card-img-top" alt="..."> --}}
      <div class="card-body">
        <h2 class="card-title">Card title</h2>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card’s content.</p>
        <a href="#" class="btn btn-primary">Redeem</a>
      </div>
    </div>
</div>