<div class="container my-5">

    <div class="card text-bg-dark my-4">
      <img src="/images/stock.jpg" class="card-img" alt="Points Shop Banner" height = "300px">
      <div class="card-img-overlay">
        <h1 class="card-title"><strong>POINTS SHOP</strong></h1>
        <p class="card-text">Use your points earned from completing tasks to redeem cool rewards!</p>
      </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each item}}
      <div class="col">
        <div class="card h-100">
          <img src="{{item.image}}" class="card-img-top" alt="item-image">
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <h4><strong>{{item.points}} points</strong></h4>
            {{!-- TODO: make button call a function to check user points to see if there is enough and then redeem --}}
            <button class="btn btn-primary">Redeem</button>
          </div>
        </div>
      </div>
      {{/each}}
      <div class="col">
        <div class="card h-100">
          <img src="/images/pink-pfp.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Pink Profile Border</h5>
            <h4><strong>70 points</strong></h4>
            <button class="btn btn-primary">Redeem</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/images/black-pfp.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Black Profile Border</h5>
            <h4><strong>70 points</strong></h4>
            <button class="btn btn-primary">Redeem</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <img src="/images/blue-pfp.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Blue Profile Border</h5>
            <h4><strong>70 points</strong></h4>
            <button class="btn btn-primary">Redeem</button>
          </div>
        </div>
      </div>
    </div>
</div>