<div class="container my-5">
  <div class="row">
    <div class="col-lg-8 mx-auto text-center">
      <h1 class="display-4 mb-4">Welcome to Gello</h1>
      <p class="lead mb-4">
        TODO (placeholder)
      </p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-center">
        <a href="/login" class="btn btn-primary btn-lg">Get Started</a>
        <a href="/register" class="btn btn-outline-primary btn-lg">Sign Up</a>
      </div>
    </div>
  </div>
</div>
